<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>wellread</title>
  </head>
  <body>

    <script type="text/javascript">
    <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
    <% end %>
    </script>

    <main id="root"></main>

  </body>
</html>
